{% extends 'flatpages/default.html'%}


{% block main_content %}

  <body>
    <div style="text-align: right; margin-right: 20px" >
    
      {% if is_not_authors %}
      
        <a href="{% url 'protect:upauthors' %}" class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px; margin-right: 0;">
          БУДУ АВТОРОМ!
        </a> 
      {% else   %}
      
        <a href="{% url 'protect:upauthors' %}" class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px; margin-right: 0;">
         УЙТИ ИЗ АВТОРОВ
        </a>
        
      {% endif %} 
    
      {% if is_not_premium %}
      
        <a href="{% url 'protect:upgrade' %}" class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px; margin-right: 0;">
          ПОДКЛЮЧЕНИЕ ПРЕМИУМ
        </a> 
      {% else %}
      
        <a href="{% url 'protect:upgrade' %}" class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px; margin-right: 0;">
          ОТКЛЮЧИТЬ ПРЕМИУМ 
        </a>
      {% endif %}
  
    <a href="{% url 'sign:logout' %}" class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px; margin-right: 20px;">ВЫЙТИ</a>
    </div>
      <main id="main">
        <div class="container" data-aos="fade-up" >
          <div class=" align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100%">
            <div class="icon-box">
                          
              <h2>  ПРИВЕТСТВУЕМ ВАС<br> {{request.user.username}} {{ request.user.first_name}}!<br> ВАШ ЛИЧНЫЙ КАБИНЕТ</h2>
          
            </div>
          </div>
        </div>
      <div class="container" data-aos="fade-up" >
      <div class=" align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100%">
        <div class="icon-box">
                          
          <h2> МОИ ПОДПИСКИ: </h2>
         

            {% if  sub %}
                  
              {% for n in sub %} <!-- sub в protect.views-->
                <div style="color:white">
                    
                    <a  href="{% url 'category' n.id %}" class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px; margin-right: 0;border-color: grey">
                      перейти в раздел: "{{n.name}}"
                    </a>
                    
                    <a href="{% url 'unsub' n.id %}" class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px; margin-right: 0;">
                      отписаться от рассылки новостей раздела: {{n.name}}
                    </a> 
                   
                    
                </div>
              {% endfor %}

            {% endif %}
          </div>
        </div>
      </div>
      <div class="container" data-aos="fade-up" >
        <div class=" align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100%">
          <div class="icon-box">
                            
            <h2> ПОДПИСАТЬСЯ:</h2>
  
              {% if  sub_not %}
                    
                {% for n in sub_not %}
                  <div style="color:white">
                      
                      <a  href="{% url 'category' n.id %}" class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px; margin-right: 0;border-color: grey">
                        перейти в раздел: "{{n.name}}"
                      </a>

                      <a href="{% url 'sub' n.id %}" class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px; margin-right: 0;">
                        подписаться на рассылку новостей раздела: {{n.name}}
                      </a> 
                  </div>
                {% endfor %}
  
              {% endif %}
            </div>
          </div>
        </div>
    

{% endblock main_content %} 