{% extends "mail/base_mail.html" %}
{% load custom_filters %}
{% block main_content %}
    <div style="text-align:center">
        <div style="color:black">
            <h2> {{ user.username}} {{ user.fisrt_name}}!</h2>
            <h2>Вы получили это письмо потому что подали заявку на отписку от новостей в разделе: {{category_you}}</h2>
            <a href="http://127.0.0.1:8000{% url 'category' category_you.id %}"> посмотреть раздел {{category_you}}</a>
             

          
       
    </div>
{% endblock main_content %}