{% extends "mail/base_mail.html" %}
{% load custom_filters %}
{% block main_content %}
    <div style="text-align:center">
        <div style="color:black">
            <h2>  !</h2>
            <h2>Для вас появилась новая новость в  категории {, на которую вы подписаны</h2>
            <p> В категории:  разместили новость { </p>
   
            <p>название:</p><nobr><h1></h1>
           <form action = "{% url 'mail:onenewsmail' %}" method ="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for = "content"> content</label>
           <input type = "text" name ="content">
           <input type="submit">
           </form>
        </div>
       
    </div>
{% endblock main_content %}