{% extends "account/base.html" %}
{% block content %}

    {% load account %} <!-- Загружаем тег который позволит получить нам ссылку на подтверждение -->
   
                    <h2> "РЕГИСТРАЦИЯ" </h2>
    
                    <p style="text-align: center">
                        <h1>Спасибо за регистрацию {{ user.username }}!</h1>
                        <h3>Чтобы пользоваться дополнительными возможностями 
                            нашего ресурса необходимо подтвердить регистрацию </h3>
                            <a href="{{ activate_url }}">активировавть аккаунт</a>
                    </p>
  
   
     
{% endblock content %}