{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<h1>{% trans "Подтвердите свой E-mail адрес" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p style="background: none; color:rgba(255, 255, 255, 0.9)">
    {% blocktrans with confirmation.email_address.email as email %}
        {{ user_display }}! Для подтверждения регистрации, пожалуйста, войдите в свой личный кабинет по зарегистрированному адресу почты:
            <a href="mailto:{{ email }}">{{ email }}</a> 
    {% endblocktrans %}
</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit"class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px; margin-right: 0;" >
        {% trans 'ПЕРЕЙТИ' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Ошибка ввода  e-mail. Пожалуйста <a href="{{ email_url }}">введите другой адрес</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
