{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="container" data-aos="fade-up" >
    <div class=" align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100%">
      <div class="icon-box" style="color:rgba(255, 255, 255, 0.9)">
        <div style="color:rgba(255, 255, 255, 0.9)">
          <div class="get-started-btn_f scrollto " >
            <h2>{% trans "РЕГИСТРАЦИЯ" %}</h2>

            <p>
              {% blocktrans %}
                Вы уже зарегистрированы? Тогда вам сюда  
                <a href="{{ login_url }}">ВХОД</a>.
              {% endblocktrans %}
            </p>

            <form  id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{form.as_p}}
                <div>
             
                </div>
                   {% if redirect_field_value %}
                  <input type="hidden"name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %} 
               
                <button type="submit" class="get-started-btn scrollto" style="background: none; color:rgba(255, 255, 255, 0.9); margin-top:30px;" >{% trans "ЗАРЕГИСТРИРОВАТЬСЯ" %} &raquo;</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
