{% extends 'flatpages/default.html'%}
{% load custom_filters %}

{% block main_content %}
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
     
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2 style="color: black">{{time_now|date:'d M Y'}}<br><br></h2>
          <h6> All News: {{category_sort| length}}</h6>
          <p >НОВОСТНАЯ ЛЕНТА</p>
        </div>

        <div >
            {% block category%}
           
                {% if 'category_sort' %}
                  
                    {% for n in category_sort %}
                    <a style="color: black" href="/one_news/{{n.id}}">
                        <div class=" align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                            <div class="icon-box"><div>
                                  <div><img style='width: 300px;'src='{{n.photo}}'></div><div>

                                      <i style="color: #ffc451" class="ri-check-double-line"></i>
                                      <h4>{{n.title}}<br><span style="font-weight:300; font-size:18px"> 
                                      ( Раздел: {{n.get_category_type}} )<br>Автор:<span style="font-weight:600"> 
                                      {{n.author.authorUser.username}} {{n.author.authorUser.first_name}}</span></h4>
                                      <br>{{n.content|censor}}<br> 
                                       <span style='color: rgey'>{{n.dataCreation|date:'d M Y'}}</span></div>
                                  </div>
                                </div>
                        </div>
                      </a>
                    {%endfor%}
                {% else %}
                        <h4> Новостей в этом разделе пока нет </h4>
                {% endif %}
              
            {% endblock category %}
        </div>
      </div>
    </section>
    
{% endblock main_content %}
