{% extends 'flatpages/default.html'%}
{% load custom_filters %}

{% block main_content %}
<body>

  <main id="main">

    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div> 
          
          <div class=" align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              
              
              {% block last_news_all%}
                  <div style="list-style-type:none"> 
                    <div><img style='width: 90%;'src='{{one_news.photo}}'></div>
                    <br>
                    <br>
                    <h4 style="text-transform: uppercase; font-size:28px">{{one_news.title}}<br>
                    <span style="font-size:18px"> 
                      ( раздел: {{one_news.get_category_type}} )<br>
                      Автор: {{one_news.author.authorUser.username}} {{one_news.author.authorUser.first_name}}</span></h4>
                      <span style='font-size: 18px'>{{one_news.content|sensor}}</span> </div>
              {% endblock last_news_all %}
             
            </div>
          </div>

        </div>
      </div>
    </section>


  </main><!-- End #main -->
  {% endblock main_content %}
 