{% extends 'flatpages/default.html'%}
{% load custom_filters %}

{% block main_content %}

<body>

    <main id="main">
        
        <div style="padding-top:100px" ">
           
                <form style="color:rgba(255, 255, 255, 0.9)"  method="GET">
                    {{ filter.form }}
                    <input type="submit" value="Найти">
                </form>
            
        </div>
        <div class="container" data-aos="fade-up" >
            {% if 'filter' %}
                {% for post in filter.qs %}
                    <div class=" align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100%">
                        <div class="icon-box">
                            <a style="color: black" href="{% url 'o_news' post.id %}">
                                <i style="color: #ffc451" class="ri-check-double-line"></i>
                                <h2>
                                    {{ post.title}}<br>
                                    Автор:<span style="font-weight:600"> 
                                    {{post.author.authorUser.username}} 
                                    {{post.author.authorUser.first_name}}</span>
                                </h2>
                                <p style="color:rgba(255, 255, 255, 0.9); text-align: left">
                                    {{ post.time_create|date:'j M Y ' }}
                                </p>
                                <p style="color:rgba(255, 255, 255, 0.9); text-align: left">   
                                {{ post.content|truncatewords:50|censor }}
                                </p>
                            </a>
                        </div>
                    </div>
                {%endfor%}
            {% else %}
                <h4> Новостей нет </h4>
            {% endif %}
        </div>
    </main>

{% endblock main_content %} 